<a href="https://colab.research.google.com/github/yoonputer/test_deeplearning/blob/master/wine_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

In [2]:
wine = datasets.load_wine()
wine.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [3]:
x_data = wine['data']
x_data.shape

(178, 13)

In [4]:
y_data = wine['target']
y_data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [5]:
import pandas as pd

In [6]:
df_wine = pd.DataFrame(wine.data)
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       178 non-null    float64
 1   1       178 non-null    float64
 2   2       178 non-null    float64
 3   3       178 non-null    float64
 4   4       178 non-null    float64
 5   5       178 non-null    float64
 6   6       178 non-null    float64
 7   7       178 non-null    float64
 8   8       178 non-null    float64
 9   9       178 non-null    float64
 10  10      178 non-null    float64
 11  11      178 non-null    float64
 12  12      178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [7]:
df_twine = pd.DataFrame(wine.target)
df_twine

     0
0    0
1    0
2    0
3    0
4    0
..  ..
173  2
174  2
175  2
176  2
177  2

[178 rows x 1 columns]

In [8]:
df_wine['y_col'] = df_twine

In [9]:
import sqlite3
connect = sqlite3.connect('./db.sqlite3')
df_wine.to_sql('datax_resource', connect, if_exists='append', index=False)
df_twine.to_sql('datay_resource', connect, if_exists='append', index=False)

In [10]:
db_wine = pd.read_sql_query('select * from datax_resource',connect)
db_wine.head(4)

       0     1     2     3      4     5  ...     8     9    10    11      12  y_col
0  14.23  1.71  2.43  15.6  127.0  2.80  ...  2.29  5.64  1.04  3.92  1065.0      0
1  13.20  1.78  2.14  11.2  100.0  2.65  ...  1.28  4.38  1.05  3.40  1050.0      0
2  13.16  2.36  2.67  18.6  101.0  2.80  ...  2.81  5.68  1.03  3.17  1185.0      0
3  14.37  1.95  2.50  16.8  113.0  3.85  ...  2.18  7.80  0.86  3.45  1480.0      0

[4 rows x 14 columns]

In [11]:
# x_data = wine['data']
# x_data.shape

dfnpx = df_wine.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]].to_numpy()
#dfnpx = df_wine.drop('y_col',axis=1).to_numpy()
dfnpx.shape

(178, 13)

In [12]:
dfnpy = df_wine.loc[:,'y_col']
dfnpy

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: y_col, Length: 178, dtype: int64

In [13]:
import numpy as np

In [14]:
# y_data
# y_data, np.unique(y_data)
dfnpy, np.unique(dfnpy)

(0      0
 1      0
 2      0
 3      0
 4      0
       ..
 173    2
 174    2
 175    2
 176    2
 177    2
 Name: y_col, Length: 178, dtype: int64, array([0, 1, 2]))

In [15]:
import tensorflow as tf

In [16]:
model = tf.keras.Sequential()

model.add(tf.keras.Input(shape=(13,))) # input layer 

model.add(tf.keras.layers.Dense(64, activation='relu')) # hidden layer
model.add(tf.keras.layers.Dense(64, activation='relu')) # hidden layer

model.add(tf.keras.layers.Dense(3, activation='softmax')) # output layer

model.compile(optimizer='adam', loss = 'sparse_categorical_crossentropy',metrics=['acc'])

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                896
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 195
=================================================================
Total params: 5,251
Trainable params: 5,251
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.fit(dfnpx, dfnpy, epochs=50, validation_split=0.3)

Epoch 1/50
4/4 [==============================] - 1s 63ms/step - loss: 223.9878 - acc: 0.4194 - val_loss: 0.4822 - val_acc: 0.8889
Epoch 2/50
4/4 [==============================] - 0s 8ms/step - loss: 158.6598 - acc: 0.1855 - val_loss: 9.2015 - val_acc: 0.1111
Epoch 3/50
4/4 [==============================] - 0s 11ms/step - loss: 96.0259 - acc: 0.5242 - val_loss: 2.1362 - val_acc: 0.1111
Epoch 4/50
4/4 [==============================] - 0s 8ms/step - loss: 35.0275 - acc: 0.1774 - val_loss: 6.4503 - val_acc: 0.0000e+00
Epoch 5/50
4/4 [==============================] - 0s 9ms/step - loss: 10.4022 - acc: 0.4355 - val_loss: 57.2656 - val_acc: 0.0000e+00
Epoch 6/50
4/4 [==============================] - 0s 8ms/step - loss: 17.6420 - acc: 0.4758 - val_loss: 79.3170 - val_acc: 0.0000e+00
Epoch 7/50
4/4 [==============================] - 0s 50ms/step - loss: 11.2841 - acc: 0.4758 - val_loss: 82.4853 - val_acc: 0.0000e+00
Epoch 8/50
4/4 [==============================] - 0s 9ms/step - loss: 6.3667 - acc: 0.5242 - val_loss: 96.7073 - val_acc: 0.1111
Epoch 9/50
4/4 [==============================] - 0s 8ms/step - loss: 3.9942 - acc: 0.4516 - val_loss: 103.1479 - val_acc: 0.0000e+00
Epoch 10/50
4/4 [==============================] - 0s 8ms/step - loss: 6.2383 - acc: 0.4758 - val_loss: 107.3301 - val_acc: 0.0000e+00
Epoch 11/50
4/4 [==============================] - 0s 8ms/step - loss: 2.5474 - acc: 0.5645 - val_loss: 109.6605 - val_acc: 0.1111
Epoch 12/50
4/4 [==============================] - 0s 8ms/step - loss: 2.6263 - acc: 0.5645 - val_loss: 109.6625 - val_acc: 0.0000e+00
Epoch 13/50
4/4 [==============================] - 0s 9ms/step - loss: 2.6345 - acc: 0.4839 - val_loss: 109.9138 - val_acc: 0.0370
Epoch 14/50
4/4 [==============================] - 0s 11ms/step - loss: 0.9100 - acc: 0.6371 - val_loss: 111.6703 - val_acc: 0.1111
Epoch 15/50
4/4 [==============================] - 0s 10ms/step - loss: 0.6129 - acc: 0.7419 - val_loss: 111.1160 - val_acc: 0.0926
Epoch 16/50
4/4 [==============================] - 0s 10ms/step - loss: 0.4698 - acc: 0.7984 - val_loss: 113.1865 - val_acc: 0.1111
Epoch 17/50
4/4 [==============================] - 0s 16ms/step - loss: 0.3478 - acc: 0.8468 - val_loss: 112.0447 - val_acc: 0.0926
Epoch 18/50
4/4 [==============================] - 0s 9ms/step - loss: 0.4489 - acc: 0.8387 - val_loss: 112.9501 - val_acc: 0.1111
Epoch 19/50
4/4 [==============================] - 0s 9ms/step - loss: 0.3390 - acc: 0.8710 - val_loss: 113.5653 - val_acc: 0.1111
Epoch 20/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2806 - acc: 0.8952 - val_loss: 112.6982 - val_acc: 0.0926
Epoch 21/50
4/4 [==============================] - 0s 9ms/step - loss: 0.3031 - acc: 0.8790 - val_loss: 113.8590 - val_acc: 0.1111
Epoch 22/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2611 - acc: 0.9113 - val_loss: 112.7779 - val_acc: 0.1111
Epoch 23/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2790 - acc: 0.8387 - val_loss: 113.1525 - val_acc: 0.1111
Epoch 24/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2321 - acc: 0.9113 - val_loss: 112.9618 - val_acc: 0.1111
Epoch 25/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2363 - acc: 0.8710 - val_loss: 112.8883 - val_acc: 0.1111
Epoch 26/50
4/4 [==============================] - 0s 14ms/step - loss: 0.2530 - acc: 0.9113 - val_loss: 112.9004 - val_acc: 0.1111
Epoch 27/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2776 - acc: 0.8548 - val_loss: 112.7781 - val_acc: 0.1111
Epoch 28/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2319 - acc: 0.9032 - val_loss: 113.2516 - val_acc: 0.1111
Epoch 29/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2434 - acc: 0.8952 - val_loss: 112.7431 - val_acc: 0.1111
Epoch 30/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2701 - acc: 0.8952 - val_loss: 112.8836 - val_acc: 0.1111
Epoch 31/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2560 - acc: 0.8629 - val_loss: 112.9641 - val_acc: 0.1111
Epoch 32/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2356 - acc: 0.8952 - val_loss: 112.9692 - val_acc: 0.1111
Epoch 33/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2294 - acc: 0.8710 - val_loss: 112.8882 - val_acc: 0.1111
Epoch 34/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2270 - acc: 0.8952 - val_loss: 113.0159 - val_acc: 0.1111
Epoch 35/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2562 - acc: 0.8548 - val_loss: 113.0069 - val_acc: 0.1111
Epoch 36/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2601 - acc: 0.8952 - val_loss: 113.0844 - val_acc: 0.1111
Epoch 37/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2204 - acc: 0.8710 - val_loss: 112.7568 - val_acc: 0.1111
Epoch 38/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2508 - acc: 0.9032 - val_loss: 113.4738 - val_acc: 0.1111
Epoch 39/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2124 - acc: 0.8790 - val_loss: 112.6100 - val_acc: 0.1111
Epoch 40/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2670 - acc: 0.8548 - val_loss: 113.7163 - val_acc: 0.1111
Epoch 41/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2652 - acc: 0.8790 - val_loss: 112.5699 - val_acc: 0.1111
Epoch 42/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2544 - acc: 0.8871 - val_loss: 113.1320 - val_acc: 0.1111
Epoch 43/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2346 - acc: 0.8871 - val_loss: 113.1256 - val_acc: 0.1111
Epoch 44/50
4/4 [==============================] - 0s 12ms/step - loss: 0.2591 - acc: 0.9194 - val_loss: 112.8154 - val_acc: 0.1111
Epoch 45/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2482 - acc: 0.8710 - val_loss: 112.9925 - val_acc: 0.1111
Epoch 46/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2384 - acc: 0.9194 - val_loss: 112.9531 - val_acc: 0.1111
Epoch 47/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2321 - acc: 0.8629 - val_loss: 112.9210 - val_acc: 0.1111
Epoch 48/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2210 - acc: 0.9194 - val_loss: 112.8476 - val_acc: 0.1111
Epoch 49/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2437 - acc: 0.8548 - val_loss: 113.0876 - val_acc: 0.1111
Epoch 50/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2582 - acc: 0.9032 - val_loss: 112.6023 - val_acc: 0.1111

# Evaluation

In [19]:
model.evaluate(dfnpx, dfnpy)

6/6 [==============================] - 0s 2ms/step - loss: 34.3256 - acc: 0.6348

[34.325618743896484, 0.6348314881324768]

# Service

In [20]:
dfnpx[25], dfnpy[25]

(array([1.305e+01, 2.050e+00, 3.220e+00, 2.500e+01, 1.240e+02, 2.630e+00,
        2.680e+00, 4.700e-01, 1.920e+00, 3.580e+00, 1.130e+00, 3.200e+00,
        8.300e+02]), 0)

In [21]:
pred = model.predict([[1.305e+01, 2.050e+00, 3.220e+00, 2.500e+01, 1.240e+02, 2.630e+00,
        2.680e+00, 4.700e-01, 1.920e+00, 3.580e+00, 1.130e+00, 3.200e+00,
        8.300e+02]])
pred

array([[0.55189264, 0.4481074 , 0.        ]], dtype=float32)

In [22]:
np.argmax(pred)

0