<a href="https://colab.research.google.com/github/yoonputer/test_deeplearning/blob/master/wine_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

In [2]:
wine = datasets.load_wine()
wine.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [3]:
x_data = wine['data']
x_data.shape

(178, 13)

In [4]:
y_data = wine['target']
y_data

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [5]:
import pandas as pd

In [6]:
df_wine = pd.DataFrame(wine.data)
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       178 non-null    float64
 1   1       178 non-null    float64
 2   2       178 non-null    float64
 3   3       178 non-null    float64
 4   4       178 non-null    float64
 5   5       178 non-null    float64
 6   6       178 non-null    float64
 7   7       178 non-null    float64
 8   8       178 non-null    float64
 9   9       178 non-null    float64
 10  10      178 non-null    float64
 11  11      178 non-null    float64
 12  12      178 non-null    float64
dtypes: float64(13)
memory usage: 18.2 KB

In [7]:
df_twine = pd.DataFrame(wine.target)
df_twine

     0
0    0
1    0
2    0
3    0
4    0
..  ..
173  2
174  2
175  2
176  2
177  2

[178 rows x 1 columns]

In [8]:
df_wine['y_col'] = df_twine

In [9]:
import sqlite3
connect = sqlite3.connect('./db.sqlite3')
df_wine.to_sql('datax_resource', connect, if_exists='append', index=False)
df_twine.to_sql('datay_resource', connect, if_exists='append', index=False)

In [10]:
db_wine = pd.read_sql_query('select * from datax_resource',connect)
db_wine.head(4)

       0     1     2     3      4     5  ...     8     9    10    11      12  y_col
0  14.23  1.71  2.43  15.6  127.0  2.80  ...  2.29  5.64  1.04  3.92  1065.0      0
1  13.20  1.78  2.14  11.2  100.0  2.65  ...  1.28  4.38  1.05  3.40  1050.0      0
2  13.16  2.36  2.67  18.6  101.0  2.80  ...  2.81  5.68  1.03  3.17  1185.0      0
3  14.37  1.95  2.50  16.8  113.0  3.85  ...  2.18  7.80  0.86  3.45  1480.0      0

[4 rows x 14 columns]

In [11]:
# x_data = wine['data']
# x_data.shape

dfnpx = df_wine.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12]].to_numpy()
#dfnpx = df_wine.drop('y_col',axis=1).to_numpy()
dfnpx.shape

(178, 13)

In [12]:
dfnpy = df_wine.loc[:,'y_col']
dfnpy

0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: y_col, Length: 178, dtype: int64

In [13]:
import numpy as np

In [14]:
# y_data
# y_data, np.unique(y_data)

(array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2]), array([0, 1, 2]))

In [15]:
import tensorflow as tf

In [16]:
model = tf.keras.Sequential()

model.add(tf.keras.Input(shape=(13,))) # input layer 

model.add(tf.keras.layers.Dense(64, activation='relu')) # hidden layer
model.add(tf.keras.layers.Dense(64, activation='relu')) # hidden layer

model.add(tf.keras.layers.Dense(3, activation='softmax')) # output layer

model.compile(optimizer='adam', loss = 'sparse_categorical_crossentropy',metrics=['acc'])

WARNING:tensorflow:Please add `keras.layers.InputLayer` instead of `keras.Input` to Sequential model. `keras.Input` is intended to be used by Functional model.

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 64)                896
_________________________________________________________________
dense_1 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 195
=================================================================
Total params: 5,251
Trainable params: 5,251
Non-trainable params: 0
_________________________________________________________________

In [18]:
model.fit(dfnpx, dfnpy, epochs=50, validation_split=0.3)

Epoch 1/50
4/4 [==============================] - 1s 65ms/step - loss: 57.0380 - acc: 0.5242 - val_loss: 37.8422 - val_acc: 0.0185
Epoch 2/50
4/4 [==============================] - 0s 9ms/step - loss: 13.4285 - acc: 0.4355 - val_loss: 51.0864 - val_acc: 0.0000e+00
Epoch 3/50
4/4 [==============================] - 0s 10ms/step - loss: 22.2360 - acc: 0.4758 - val_loss: 49.0826 - val_acc: 0.0000e+00
Epoch 4/50
4/4 [==============================] - 0s 9ms/step - loss: 16.4861 - acc: 0.4758 - val_loss: 37.8065 - val_acc: 0.0000e+00
Epoch 5/50
4/4 [==============================] - 0s 9ms/step - loss: 9.4783 - acc: 0.2177 - val_loss: 33.6009 - val_acc: 0.0370
Epoch 6/50
4/4 [==============================] - 0s 10ms/step - loss: 9.4005 - acc: 0.2177 - val_loss: 35.0820 - val_acc: 0.0000e+00
Epoch 7/50
4/4 [==============================] - 0s 9ms/step - loss: 8.0829 - acc: 0.4677 - val_loss: 37.1036 - val_acc: 0.0000e+00
Epoch 8/50
4/4 [==============================] - 0s 8ms/step - loss: 6.1320 - acc: 0.3871 - val_loss: 32.3595 - val_acc: 0.0185
Epoch 9/50
4/4 [==============================] - 0s 8ms/step - loss: 6.9752 - acc: 0.2500 - val_loss: 32.4204 - val_acc: 0.0000e+00
Epoch 10/50
4/4 [==============================] - 0s 8ms/step - loss: 4.2792 - acc: 0.4194 - val_loss: 33.9873 - val_acc: 0.0000e+00
Epoch 11/50
4/4 [==============================] - 0s 8ms/step - loss: 3.7245 - acc: 0.3306 - val_loss: 31.8391 - val_acc: 0.0556
Epoch 12/50
4/4 [==============================] - 0s 10ms/step - loss: 2.9118 - acc: 0.3145 - val_loss: 32.2925 - val_acc: 0.0000e+00
Epoch 13/50
4/4 [==============================] - 0s 8ms/step - loss: 2.3580 - acc: 0.3548 - val_loss: 31.3752 - val_acc: 0.0370
Epoch 14/50
4/4 [==============================] - 0s 8ms/step - loss: 1.6240 - acc: 0.5000 - val_loss: 31.5892 - val_acc: 0.1111
Epoch 15/50
4/4 [==============================] - 0s 10ms/step - loss: 1.1159 - acc: 0.5081 - val_loss: 31.6715 - val_acc: 0.0556
Epoch 16/50
4/4 [==============================] - 0s 9ms/step - loss: 1.1099 - acc: 0.5726 - val_loss: 32.1215 - val_acc: 0.1111
Epoch 17/50
4/4 [==============================] - 0s 10ms/step - loss: 0.5611 - acc: 0.7903 - val_loss: 31.9523 - val_acc: 0.1111
Epoch 18/50
4/4 [==============================] - 0s 9ms/step - loss: 0.3593 - acc: 0.8629 - val_loss: 32.4670 - val_acc: 0.1111
Epoch 19/50
4/4 [==============================] - 0s 8ms/step - loss: 0.3236 - acc: 0.8629 - val_loss: 32.5713 - val_acc: 0.1111
Epoch 20/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2728 - acc: 0.8871 - val_loss: 32.5536 - val_acc: 0.1111
Epoch 21/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2696 - acc: 0.8871 - val_loss: 32.8259 - val_acc: 0.1111
Epoch 22/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2829 - acc: 0.8871 - val_loss: 32.4446 - val_acc: 0.1111
Epoch 23/50
4/4 [==============================] - 0s 10ms/step - loss: 0.3222 - acc: 0.8871 - val_loss: 32.8872 - val_acc: 0.1111
Epoch 24/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2626 - acc: 0.8952 - val_loss: 32.8621 - val_acc: 0.1111
Epoch 25/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2322 - acc: 0.8790 - val_loss: 32.6271 - val_acc: 0.1111
Epoch 26/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2205 - acc: 0.8952 - val_loss: 33.1540 - val_acc: 0.1111
Epoch 27/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2105 - acc: 0.9032 - val_loss: 32.5208 - val_acc: 0.1111
Epoch 28/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2276 - acc: 0.8952 - val_loss: 33.2871 - val_acc: 0.1111
Epoch 29/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2057 - acc: 0.8952 - val_loss: 32.6821 - val_acc: 0.1111
Epoch 30/50
4/4 [==============================] - 0s 10ms/step - loss: 0.2102 - acc: 0.8952 - val_loss: 33.0561 - val_acc: 0.1111
Epoch 31/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2036 - acc: 0.8871 - val_loss: 33.2704 - val_acc: 0.1111
Epoch 32/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2110 - acc: 0.9032 - val_loss: 32.6622 - val_acc: 0.1111
Epoch 33/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2320 - acc: 0.8871 - val_loss: 33.2567 - val_acc: 0.1111
Epoch 34/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2253 - acc: 0.8790 - val_loss: 32.5045 - val_acc: 0.1111
Epoch 35/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2552 - acc: 0.8790 - val_loss: 33.2356 - val_acc: 0.1111
Epoch 36/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2020 - acc: 0.9032 - val_loss: 33.0354 - val_acc: 0.1111
Epoch 37/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2887 - acc: 0.8548 - val_loss: 33.3261 - val_acc: 0.1111
Epoch 38/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2603 - acc: 0.8871 - val_loss: 32.6246 - val_acc: 0.1111
Epoch 39/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2701 - acc: 0.8952 - val_loss: 33.4884 - val_acc: 0.1111
Epoch 40/50
4/4 [==============================] - 0s 8ms/step - loss: 0.2347 - acc: 0.9113 - val_loss: 32.3290 - val_acc: 0.1111
Epoch 41/50
4/4 [==============================] - 0s 10ms/step - loss: 0.3140 - acc: 0.8790 - val_loss: 33.6586 - val_acc: 0.1111
Epoch 42/50
4/4 [==============================] - 0s 12ms/step - loss: 0.2779 - acc: 0.9113 - val_loss: 32.4405 - val_acc: 0.1111
Epoch 43/50
4/4 [==============================] - 0s 11ms/step - loss: 0.2422 - acc: 0.8790 - val_loss: 33.3199 - val_acc: 0.1111
Epoch 44/50
4/4 [==============================] - 0s 10ms/step - loss: 0.1882 - acc: 0.9274 - val_loss: 32.6544 - val_acc: 0.1111
Epoch 45/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2047 - acc: 0.9032 - val_loss: 33.2534 - val_acc: 0.1111
Epoch 46/50
4/4 [==============================] - 0s 12ms/step - loss: 0.2012 - acc: 0.8952 - val_loss: 33.1352 - val_acc: 0.1111
Epoch 47/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2064 - acc: 0.9113 - val_loss: 32.8795 - val_acc: 0.1111
Epoch 48/50
4/4 [==============================] - 0s 9ms/step - loss: 0.2405 - acc: 0.8871 - val_loss: 33.1623 - val_acc: 0.1111
Epoch 49/50
4/4 [==============================] - 0s 10ms/step - loss: 0.3039 - acc: 0.8871 - val_loss: 32.4237 - val_acc: 0.1111
Epoch 50/50
4/4 [==============================] - 0s 10ms/step - loss: 0.5230 - acc: 0.8468 - val_loss: 32.7748 - val_acc: 0.1111

# Evaluation

In [19]:
model.evaluate(dfnpx, dfnpy)

6/6 [==============================] - 0s 2ms/step - loss: 10.0736 - acc: 0.6685

[10.073567390441895, 0.6685393452644348]

# Service

In [20]:
dfnpx[25], dfnpy[25]

(array([1.305e+01, 2.050e+00, 3.220e+00, 2.500e+01, 1.240e+02, 2.630e+00,
        2.680e+00, 4.700e-01, 1.920e+00, 3.580e+00, 1.130e+00, 3.200e+00,
        8.300e+02]), 0)

In [21]:
pred = model.predict([[1.305e+01, 2.050e+00, 3.220e+00, 2.500e+01, 1.240e+02, 2.630e+00,
        2.680e+00, 4.700e-01, 1.920e+00, 3.580e+00, 1.130e+00, 3.200e+00,
        8.300e+02]])
pred

array([[1.9152194e-01, 8.0847806e-01, 1.5567080e-21]], dtype=float32)

In [22]:
np.argmax(pred)

1